"use strict"

/*Обнуление*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: #000;
  background-color: #2E2C2C;
	margin: 0;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
._container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0px auto;
    box-sizing: content-box;
}
/*Обнуление*/

.header__container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 116px;
}
.header__body {
	margin: 31px 0px 0px 0px;
	display: flex;
	justify-content: space-between;
}
.header__logo a img {
	width: 234px;
	height: 73.5px;
}
.header__buttons {
	display: flex;
	align-items: center;
}
.header__button {
	min-width: 132px;
	padding: 19px 0;
	background-color: #BD3C3C;
	border-radius: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 19px;
	line-height: 18.75px;
	color: #000;
	text-align: center;
	box-shadow: 2px 1px 1px #000;
	
}
.header__button:hover {
	background-color: #b75555;
	transition: 0.3s;
}
.header__button:not(:last-child) {
	margin: 0px 34px 0px 0px;
}
.header__line {
	width: 100%;
	height: 2px;
	background-color: #fff;
}

/*_____MAIN__________*/

.main {
}
.main__container {
}
.main__buttons {
	margin: 150px 75px 0px 75px;
	display: flex;
	justify-content: space-between;
}
.main__button {
	width: 401px;
	padding: 92px 0px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 36px;
	color: #000;
	border: 5px solid #000000;
	border-radius: 20px;
}
@media (max-width: 1100px) {
	.main__button{
		width: 301px;
		font-size: 28px;
		padding: 70px 0;
	}
}
.main__button-right {
	background-color: #ECB6F4;
	box-shadow: 45px 25px 4px rgba(0, 0, 0, 0.1);
}
.main__button-right:hover {
	background-color: #be84c7;
	transition: 0.3s;
}
.main__button-left {
	background-color: #8084EB;
	box-shadow: -45px 25px 4px rgba(0, 0, 0, 0.1);
}
.main__button-left:hover {
	background-color: #6163ad;
	transition: 0.3s;
}